{% extends 'base.html' %}
{% block title %}
New Record
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Add animal form -->
<div class="container-md d-flex justify-content-center">
    <div class="col-md-4">
        <h2 class="subheadings">New Record</h2>
        <form method="POST" action="{% url 'records:add_animal' %}">
            {% csrf_token %}
            <!-- Django form -->
            {{ record_form|crispy }}
            <button class="pet-btns" type="submit">Add</button>
        </form>
    </div>
</div>
{% endblock %}