{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">


      <h1>Add Record</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <form class="form-text" method="POST" action="{% url 'records:add_animal' %}">
        {% csrf_token %}
        {{ record_form.as_p }}

        {% for field in record_form %}
          {% for error in field.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        {% endfor %}

        {% if record_form.non_field_errors %}
          {% for error in record_form.non_field_errors %}
          <p> {{error}} </p>
          {% endfor %}
        {% endif %}
        <button class="blog-links" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}