{% extends 'base.html' %}
{% block content %}

<!-- Animal profile -->
<!-- Return to records-->
<a class="page-links" href="{% url 'records:records' %}" aria-label="Go to records">Go To Records</a>

<!-- Animal details -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Record for {{ profile }}</h3>
                <table>
                    <tr>
                        <th>Name: </th>
                        <td>{{ profile.name }}</td>
                    </tr>
                    <tr>
                        <th>Surname: </th>
                        <td>{{ profile.surname }}</td>
                    </tr>
                    <tr>
                        <th>DOB: </th>
                        <td>{{ profile.date_of_birth }}</td>
                    </tr>
                    <tr>
                        <th>Species: </th>
                        <td>{{ profile.species }}</td>
                    </tr>
                    <tr>
                        <th>Breed: </th>
                        <td>{{ profile.breed }}</td>
                    </tr>
                    <tr>
                        <th>Sex: </th>
                        <td>{{ profile.sex }}</td>
                    </tr>
                    <tr>
                        <th>Weight: </th>
                        <td>{{ profile.weight }}kg</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <!-- Quick links-->
                <div>
                    <h4 class="subheadings">Options:</h4>
                    <div>
                        <ul>
                            <li>
                                <a class="pet-btns sm-btns" 
                                href="{% url 'records:edit_animal' animal_id=profile.id %}" 
                                aria-label="Edit animal record">Edit Profile</a>
                            </li>
                            <li>
                                <a class="pet-btns sm-btns" hx-get="{% url 'records:update_weight' animal_id=profile.id %}"
                            hx-target="#modal-dialog" 
                            aria-label="Update weight">
                            Update Weight</a>
                            </li>
                            <li>
                                <a class="pet-btns sm-btns" hx-get="{% url 'prescriptions:add_prescrip' animal_id=profile.id %}"
                            hx-target="#modal-dialog"
                            aria-label="Add new prescription">Add Prescription</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <!-- Notes for animal -->
                    <h4 class="subheadings">Notes:</h4>
                    <p>
                        {{ profile.note|default:"No notes or warnings." }}
                    </p>
                    <a class="pet-btns sm-btns"
                    hx-get="{% url 'records:edit_notes' animal_id=profile.id %}"
                    hx-target="#modal-dialog"
                    aria-label="Edit notes">Edit Notes</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Display prescriptions for animal -->
<section id="animal-prescrip-list" hx-get="{% url 'prescriptions:list_prescrip' animal_id=profile.id %}" hx-trigger="load">
    {% include 'prescriptions/list_prescrip.html' %}
</section>
{% endblock %}