{% block content %}

{% load crispy_forms_tags %}

<!-- Edit note form in modal-->
<form data-hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header justify-content-center">
        <h3 class="subheadings">Edit Notes</h3>
    </div>
    <div class="modal-body mx-auto">
        {{ edit_notes|crispy }}
    </div>
    <div class="modal-footer">
        <input class="pet-btns" type="submit" value="Save">
    </div>
    <div class="modal-footer">
        <button type="button" class="pet-btns" data-bs-dismiss="modal">Close</button>
    </div>
</form>

{% endblock %}