{% extends 'base.html' %}
{% block content %}

<!-- Edit profile form-->
<h2>Update Account</h2>
<form method="POST">
    {% csrf_token %}
    <!-- Django form-->
    {{ edit_form.as_p }}

    <!-- Form errors-->
    {% for field in edit_form %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}

    {% if edit_form.non_field_errors %}
        <p>{{ edit_form.non_field_errors }}</p>
    {% endif %}

    <input class="pet-btns" type="submit">Update</input>

</form>


{% endblock %}