{% extends 'base.html' %}

{% block content %}
<section>
    <h3>Records:</h3>
    <a href="{% url 'records:add_animal' %}">Add Record</a>
    <form method="GET" action="{% url 'records:record_search' %}">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Search by name">
        <input type="submit">
    </form>
</section>
<section>
    <h4>All Records:</h4>
    {% if record_list %}
        {% for record in record_list %}
        <p><a href="{% url 'records:animal_profile' animal_id=record.id %}">{{ record }}</a></p>
        {% endfor %}
    {% else %}
        <p>No records</p>
    {% endif %}

</section>

{% endblock %}