{% extends 'base.html' %}
{% block content %}

<!-- Records page -->
<section>
    <div class="row">
        <div class="col-md-6">
            <h3 class="subheadings">Records</h3>
            <br>
            <!-- Add record or go to available drugs -->
            <div class="link-space">
                <a class="pet-links" href="{% url 'records:add_animal' %}" aria-label="Add an">Add Animal</a>
                <span>|</span>
                <a class="pet-links" href="{% url 'prescriptions:drugs' %}" aria-label="Go to available drugs">To
                    Available Drugs</a>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Record search-->
            <form method="GET" class="float-md-end" action="{% url 'records:record_search' %}">
                {% csrf_token %}
                <input type="text" list="animals" name="query" placeholder="Search by surname" aria-label="Search">
                <button type="submit" class="pet-btns sm-btns" aria-label="Search">Search</button>
            </form>
            <datalist id="animals">
                {% for record in record_list %}
                    <option value="{{ record.surname }}"></option>
                {% endfor %}
            </datalist>
        </div>
    </div>
</section>
<hr>
<!-- Display list of records, paginated -->
<section>
    <h4 class="subheadings">All Records:</h4>
    {% if page_obj %}
    {% for record in page_obj %}
    <p><a class="pet-links bg-links" href="{% url 'records:animal_profile' animal_id=record.id %}"
            aria-label="Go to record">{{ record }}</a></p>
    {% endfor %}
    {% else %}
    <p>No records</p>
    {% endif %}

    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a class="pet-links" href="?page=1" aria-label="First page">&laquo; first</a>
            <a class="pet-links" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a class="pet-links" href="?page={{ page_obj.next_page_number }}" aria-label="Next page">next</a>
            <a class="pet-links" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last page">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>

{% endblock %}