{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <a class="pet-links" href="{% url 'records:records' %}" aria-label="Go to records">To Records</a>
        <span>|</span>
        <a class="pet-links" href="{% url 'prescriptions:drugs' %}" aria-label="Go to available drugs">To Available
            Drugs</a>
        <br>
        <!-- Record search page-->
        <h3 class="subheadings">Search Results:</h3>
    </div>
    <div class="col-sm-6">
        <!-- Search input -->
        <form method="GET" class="float-end" action="{% url 'records:record_search' %}">
            {% csrf_token %}
            <input type="text" list="animals" name="query" placeholder="Search by surname">
            <button type="submit" class="pet-btns sm-btns float-end" aria-label="Search">Search</button>
        </form>
        <datalist id="animals">
            {% for record in record_list %}
                <option value="{{ record.surname }}"></option>
            {% endfor %}
        </datalist>
    </div>
</div>
<!-- Display record list results -->
{% if record_search %}
<div class="prescrip-contain">
    <table>
        <thead>
            <tr>
                <th>Animal</th>
                <th class="lg-prescrip">Species</th>
                <th>Breed</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody>
            {% for record in record_search %}
            <tr>
                <th><a class="pet-links" href="{% url 'records:animal_profile' animal_id=record.id %}"
                        aria-label="Go to record">{{ record }}</a>
                <th class="lg-prescrip">{{ record.species }}</th>
                <th>{{ record.breed }}</th>
                <th>{{ record.date_of_birth|date:'d/m/y' }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<!-- If no results -->
<p>No record found.</p>
{% endif %}
<hr>
<!-- Return to Records page -->
<a class="pet-links float-end" href="{% url 'records:records' %}" aria-label="Go to records list">Back to Records</a>

{% endblock %}