{% extends 'base.html' %}
{% block content %}
<a class="page-links" href="{% url 'records:records' %}" aria-label="Go to records">To Records</a>
<a class="page-links" href="{% url 'prescriptions:drugs' %}" aria-label="Go to available drugs">To Available Drugs</a>

<!-- Record search page-->
<h3> Search Results </h3>
<!-- Search input -->
<form method="GET" action="{% url 'records:record_search' %}">
    {% csrf_token %}
    <input type="text" name="query" placeholder="Search by name">
    <input type="submit">
</form>
<!-- Display record list results -->
{% if record_list %}
<table>
    <tr>
        <th>Animal</th>
        <th>Species</th>
        <th>Breed</th>
        <th>DOB</th>
    </tr>
    {% for record in record_list %}
    <tr>
        <th><a class="prescrip-links"
            href="{% url 'records:animal_profile' animal_id=record.id %}">{{ record }}</a>
        <th>{{ record.species }}</th>
        <th>{{ record.breed }}</th>
        <th>{{ record.date_of_birth }}</th>
    <tr>
        {% endfor %}
</table>
{% else %}
<!-- If no results -->
<p>No record found.</p>
{% endif %}

<!-- Return to Records page -->
    <a class="pet-btns" href="{% url 'records:records' %}">Records</a>

{% endblock %}