{% block content %}

{% load crispy_forms_tags %}

<!-- Update animal weight form in modal-->
<form data-hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header justify-content-center">
        <h3 class="subheadings">Update Weight</h3>
    </div>
    <div class="modal-body mx-auto">
        {{ update_weight|crispy }}
    </div>
    <div class="modal-footer">
        <button class="pet-btns" type="submit">Update</button>
        <button type="button" class="pet-btns" data-bs-dismiss="modal">Close</button>
    </div>
</form>


{% endblock %}