{% block content %}

<!-- Update animal weight form in modal-->
<form hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="headings">Update Weight</h3>
    </div>
    <div class="modal-body">
        {{ update_weight.as_p }}
    </div>

    <!-- Form errors-->
    {% for field in update_weight %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}

    {% if update_weight.non_field_errors %}
        <p>{{ update_weight.non_field_errors }}</p>
    {% endif %}
    <div class="modal-footer">
        <input class="pet-btns" type="submit" value="Update">
    </div>
</form>


{% endblock %}