/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Rubik&display=swap");

/* Site palette */
:root {
    --site-white: #f1f8fc;
    --site-black: #000d21;
    --site-dark-blue: #002d88;
    --site-light-blue: #0071d1;
    --site-turquoise: #00b0cf;
}

html {
    height: 100%;
}

/* Font styling */
body {
    font-family: "Rubik", sans-serif;
    color: var(--site-black);
    font-size: 1rem;
    letter-spacing: 2px;
    background: var(--site-white); 
}

h1, h2, h3, h4 {
    font-family: "Fira Sans", "Rubik", sans-serif;
    font-weight: 900;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blue-text {
    color: var(--site-dark-blue);
}

.headings {

    letter-spacing: 3px;
    margin: 1em auto;
}

.subheadings {
    display: inline-block;
    border-bottom: 4px ridge var(--site-turquoise);
}

.text {
    margin: 2em 3em;
    letter-spacing: 2px;
}

/* hr styling */

hr {
    color: var(--site-black);
}

/* Link and Button styling*/

button {
    border: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar-links {
    cursor: pointer;
    display: block;
    padding: 0.25rem 0.5rem;
    color: var(--site-dark-blue);
    font-weight: 800;
    margin: 1em;
    transition: color .8s linear, box-shadow 1s linear;
}

.navbar-links:hover {
    box-shadow: inset 200px 0 0 0 var(--site-turquoise);
    color: var(--site-black);
}

.nav-drop-link {
    padding: 0;
    margin: 0 auto;
}

.pet-links {
    cursor: pointer;
    color: var(--site-light-blue);
    font-weight: 600;
    transition: color .5s linear;
}

.pet-links:hover {
    color: var(--site-dark-blue);
}

.bg-links {
    font-size: 1.25em;
    font-weight: 800;
}

.pet-btns {
    cursor: pointer;
    display: inline-block;
    background-color: var(--site-light-blue);
    color: var(--site-white);
    letter-spacing: 0px;
    font-weight: 600;
    padding: 0.5em 1.5em;
    margin: 2em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 var(--site-turquoise);
    transition: all .2s linear;
}

.pet-btns:hover, .pet-btns:active {
    background-color: var(--site-dark-blue);
    color: var(--site-white);
    box-shadow: 0 2px 4px 0 var(--site-light-blue);
}

.sm-btns {
    padding: 0.5em 1em;
    font-weight: 400;
    margin: 0.5em;
}

/* Spacing */

.list-space {
    padding: 0.75em 0;
}

.link-space {
    margin: 0.75em 0;
}

.bottom-space {
    padding-bottom: 4em;
}

/* Nav styling */
#navbar {
    margin-bottom: 1em;
    background-color: #fff;
    color: var(--site-dark-blue);
    box-shadow: 0 1px 6px 0 var(--site-light-blue);
}

.navbar-toggler {
    color: var(--site-dark-blue);
    font-size: 2rem;
    line-height: 1.3;
}

/* Image styling */

.pics {
    display: block;
    margin: 1em auto; 
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* Index styling */
#intro-blurb {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Table styling */

.prescrip-contain {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}

.prescrip-contain thead th {
    position: sticky;
    top: 0;
}

th, td {
    padding: 0.5em;
}

th {
    background-color: var(--site-white);
}

/* Footer styling */
footer {
    background-color: white;
    color: var(--site-dark-blue);
}

.footer-socials {
    font-size: 2em;
    padding-left: 1em;
}

/* Media Queries */
@media (max-width: 575px) {
    .lg-prescrip {
        display: none;
    }
}