{% extends 'base.html' %}
{% block content %}

<!-- Detailed Drug template -->
<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h3 class="subheadings">{{ drug.name }}</h3>
                <!-- Drug details-->
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>{{ drug.name }}</td>
                    </tr>
                    <tr>
                        <th>Category:</th>
                        <td>{{ drug.category }}</td>
                    </tr>
                    <tr>
                        <th>Dose:</th>
                        <td>{{ drug.dose }}{{ drug.measure }}/kg</td>
                    </tr>
                    <tr>
                        <th>Route:</th>
                        <td>{{ drug.route }}</td>
                    </tr>
                    <tr>
                        <th>Warnings:</th>
                        <td>{{ drug.warnings}}</td>
                    </tr>
                </table>
                <hr>
                <!-- Quick links back -->
                <div class="float-end">
                    <a class="pet-links" href="{% url 'vetprofiles:profile' %}" aria-label="To your profile">
                        Your Profile</a>
                    <span>|</span>
                    <a class="pet-links" href="{% url 'prescriptions:drugs' %}" aria-label="To available drugs">
                        Drugs</a>
                    <span>|</span>
                    <a class="pet-links" href="{% url 'records:records' %}" aria-label="To records page">
                        Records</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}