{% block content %}

<!-- Detailed prescription template -->
<div class="modal-content">
    <div class="modal-header">
        <h3 class="subheadings">Prescription for {{ prescription.animal }}</h3>
    </div>

    <div class="modal-body">
        <!-- Prescription details-->
        <table>
            <tr>
                <th>Animal:</th>
                <td>{{ prescription.animal }}</td>
            </tr>
            <tr>
                <th>Weight:</th>
                <td>{{ prescription.animal_weight }}kg</td>
            </tr>
            <tr>
                <th>Type:</th>
                <td>{{ prescription.drug.category }}</td>
            </tr>
            <tr>
                <th>Drug:</th>
                <td>{{ prescription.drug }}</td>
            </tr>
            <tr>
                <th>Dose:</th>
                <td>{{ prescription.dose }}{{ prescription.measure }}</td>
            </tr>
            <tr>
                <th>Route:</th>
                <td>{{ prescription.route }}</td>
            </tr>
            <tr>
                <th>Frequency:</th>
                <td>{{ prescription.frequency }}</td>
            </tr>
            <tr>
                <th>Length:</th>
                <td>{{ prescription.length }} days</td>
            </tr>
            <tr>
                <th>Prescribing Vet:</th>
                <td>{{ prescription.vet }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ prescription.date|date:'d/m/y' }}</td>
            </tr>
        </table>
        <small><em>You may delete your prescriptions up to 24 hours after creation.</em></small>
        <br>
        <!-- Delete option if user is prescribing vet and within time limit -->
        <div class="float-end">
            {% if user == prescription.vet and prescription.under_day %}
            <a class="pet-btns sm-btns" hx-get="{% url 'prescriptions:delete_prescrip' prescrip_id=prescription.id %}"
                hx-target="#modal-dialog" aria-label="Delete prescription">Delete</a>
            {% else %}
            <small>You may not delete this prescription.</small>
            {% endif %}
            <button type="button" class="pet-btns sm-btns" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- Quick links back -->
    <div class="modal-footer justify-content-center">
        <a class="pet-links" href="{% url 'vetprofiles:profile' %}" aria-label="Go to your profile">Your Profile</a>
        <span>|</span>
        <a class="pet-links" href="{% url 'records:animal_profile' prescription.animal.id %}"
            aria-label="Go to animal profile">{{ prescription.animal.name }}'s Record</a>
        <span>|</span>
        <a class="pet-links" href="{% url 'records:records' %}" aria-label="Go to records page">Records</a>
    </div>

    {% endblock %}