{% extends 'base.html' %}
{% block content %}

<!-- Drug page -->
<section>
    <h3>Available Drugs:</h3>
    <!-- Back to records -->
    <a href="{% url 'records:records' %}">Record</a>
    <!-- Drug search-->
    <form method="GET" action="{% url 'prescriptions:drug_search' %}">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search by name or category">
        <input type="submit">
    </form>
</section>
<!-- Display list of drugss, paginated -->
<section>
    <h4>All Drugs</h4>
    {% if page_obj %}
    {% for drug in page_obj %}
    <p><a href="{% url 'prescriptions:detail_drug' drug_id=drug.id %}">{{ drug }}</a></p>
    {% endfor %}
    {% else %}
    <p>No drugss</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>

{% endblock %}