{% extends 'base.html' %}
{% block content %}

<!-- Drug page -->
<section>
    <div class="row">
        <div class="col-md-8">
            <h3 class="subheadings">Available Drugs:</h3>
            <br>
            <!-- Back to records -->
            <div class="link-space">
                <a class="pet-links" href="{% url 'records:records' %}" aria-label="Go to records">To Records</a>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Drug search-->
            <form method="GET" action="{% url 'prescriptions:drug_search' %}" aria-label="Search">
                {% csrf_token %}
                <input type="text" list="drugs" name="search" placeholder="Enter name or category">
                <button type="submit" class="pet-btns sm-btns">Search</button>
            </form>
            <datalist id="drugs">
                {% for drug in drug_list %}
                    <option value="{{ drug.name }}"></option>
                {% endfor %}
            </datalist>
        </div>
    </div>
</section>
<hr>
<!-- Display list of drugss, paginated -->
<section>
    <h4 class="subheadings">All Drugs:</h4>
    {% if page_obj %}
    {% for drug in page_obj %}
    <p><a class="pet-links bg-links" href="{% url 'prescriptions:detail_drug' drug_id=drug.id %}"
            aria-label="Go to drug detail">{{ drug }}</a></p>
    {% endfor %}
    {% else %}
    <p>No drugs</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1" aria-label="First page">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next page">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last page">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>

{% endblock %}