{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <a class="pet-links" href="{% url 'records:records' %}" aria-label="Go to records">To Records</a>
        <span>|</span>
        <a class="pet-links" href="{% url 'prescriptions:drugs' %}" aria-label="Go to available drugs">To Available
            Drugs</a>
        <br>
        <!-- Drug search page-->
        <h3 class="subheadings">Search Results:</h3>
    </div>
    <div class="col-sm-6">
        <!-- Search input -->
        <form method="GET" class="float-end" action="{% url 'prescriptions:drug_search' %}">
            {% csrf_token %}
            <input type="text" list="drugs" name="search" placeholder="Search drug name">
            <button type="submit" class="pet-btns sm-btns">Search</button>
        </form>
        <datalist id="drugs">
            {% for drug in drug_list %}
                <option value="{{ drug.name }}"></option>
            {% endfor %}
        </datalist>
    </div>
</div>
<!-- Display drug list results -->
{% if drug_search %}
<table>
    <tr>
        <th>Drug</th>
        <th>Category</th>
    </tr>
    {% for drug in drug_search %}
    <tr>
        <td><a class="pet-links" href="{% url 'prescriptions:detail_drug' drug_id=drug.id %}">{{ drug.name }}</a></td>
        <td>{{ drug.category }}</td>
    </tr>
        {% endfor %}
</table>
{% else %}
<!-- If no results -->
<p>No drug found.</p>
{% endif %}
<hr>
<!-- Return to drugss page -->
<div class="float-end">
    <a class="pet-links" href="{% url 'prescriptions:drugs' %}">Back to Drugs</a>
    <span>|</span>
    <a class="pet-links" href="{% url 'records:records' %}">To Records</a>
</div>

{% endblock %}