<!-- Animal's prescription list -->
<h3 class="subheadings">Prescription History</h3>
<br>
<small><em>You may edit or delete your prescriptions up to 24 hours after creation.</em></small>
<div class="prescrip-contain">
    <!-- Prescription detail table-->
    <table>
        <thead>
            <tr>
                <th class="lg-prescrip">Dose</th>
                <th>Drug</th>
                <th class="lg-prescrip">Vet</th>
                <th>Date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for prescription in prescrip_list %}
            <tr>
                <td class="lg-prescrip">{{ prescription.dose }}{{ prescription.measure }}</td>
                <td>{{ prescription.drug }}</td>
                <td class="lg-prescrip">{{ prescription.vet }}</td>
                <td>{{ prescription.date|date:'d/m/y' }}</td>
                <!-- Link to detailed view -->
                <td><a data-hx-get="{% url 'prescriptions:detail_prescrip' prescrip_id=prescription.id %}"
                        data-hx-target="#modal-dialog" class="pet-links" aria-label="View prescription">View</a></td>
            </tr>
        </tbody>
        {% empty %}
        <!-- If nothing prescribed -->
        <tr>
            <td>No prescriptions</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</div>