{% extends 'base.html' %}
{% block content %}

<!-- User Profile -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- User details -->
                <h3 class="headings">Profile for {{ user.first_name }} {{ user.last_name }}</h3>
                <table>
                    <tr>
                        <th>Name: </th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Surname: </th>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Email Address: </th>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>
                <a class="pet-btns" href="{% url 'vetprofiles:edit_profile' %}" aria-label="Edit your profile">Edit
                    Profile</a>
            </div>
            <div class="col-md-4">
                <div>
                    <!-- Links to edit profiles, go to records-->
                    <h4 class="subheadings">Go To:</h4>
                    <li class="list-space">
                        <a class="pet-links bg-links" href="{% url 'records:records' %}"
                            aria-label="Go to animal records">Animal Records</a>
                    </li>
                    <li class="list-space">
                        <a class="pet-links bg-links" href="{% url 'prescriptions:drugs' %}"
                            aria-label="Go to available drugs">Available Drugs</a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- Display prescriptions of vet -->
<section hx-get="{% url 'prescriptions:vet_prescrip'%}" hx-trigger="load">
    {% include 'prescriptions/list_prescrip.html' %}
</section>
{% endblock %}