{% extends 'base.html' %}

{% block content %}
<!--About introduction-->
<div class="containter-md">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="headings">Learn more about Pet Rx</h1>
            <p class="text">
                This is another blurb introducing the features for Pet Rx. This blurb gives a general overview of the main features.
                It encourages the reader to continue on the page to learn more about the main features of the app.
            </p>
        </div>
        <!--Feature list-->
        <div class="col-sm-6">
            <h2 class="headings">This is a list of all the great features</h2>
            <ul>
                <li>
                    Excellent feature one - ease of use?
                </li>
                <li>
                    Excellent feature two - consistency?
                </li>
                <li>
                    Excellent feature three - safety?
                </li>
              </ul>
        </div>
    </div>
</div>
<!--Feature details-->
<div class="container-md">
    <div class="row">
        <div class="col-sm-4">
            <img src="#" alt="">
            An image of a feature
        </div>
        <div class="col-sm-8">
            <h3 class="headings">Feature</h3>
            <p class="text">Description of the feature and it's benefit to the clinic. The convenience of being able to manage prescriptions in the app.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="headings">Feature</h3>
            <p>Description of the feature and it's benefit to the clinic. Ease of adding an animal or prescription to the database</p>
        </div>
        <div class="col-sm-4">
            <img src="#" alt="">
            An image of a feature
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="#" alt="">
            An image of a feature
        </div>
        <div class="col-sm-8">
            <h3 class="headings">Feature</h3>
            <p>Description of the feature and it's benefit to the clinic. Consistency of prescriptions. Drug doses are set by clinical director, safer prescriptions, clinic is consistent in doses.</p>
        </div>
    </div>
</div>

{% endblock %}