{% extends 'base.html' %}

{% block content %}
<!--About introduction-->
<section class="containter-md">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="headings">Learn more about PetR<sub>x</sub></h1>
            <p>
                PetR<sub>x</sub> is an easy to use platform that provides an extra layer of safety and consistency in
                your practice.
                Easily tailor PetR<sub>x</sub> to your own clinic's drug protocols so that you can avoid human error and
                be sure of reliability when it comes to prescribing medications for your patients.
            </p>
        </div>
        <!--Feature list-->
        <div class="col-sm-4">
            <h3 class="headings subheadings">Benefits:</h3>
            <ul>
                <li>
                    Ease of use
                </li>
                <li>
                    Consistency
                </li>
                <li>
                    Safety
                </li>
            </ul>
        </div>
    </div>
</section>
<hr>
<!--Feature details-->
<section class="container-md">
    <div class="row">
        <div class="col-sm-4">
            <img src="#" alt="">
            An image of a feature
        </div>
        <div class="col-sm-8">
            <h3 class="subheadings">Ease of Use</h3>
            <p>PetR<sub>x</sub> takes away the tedious job of calculating dosages. Once your practice's preferred dosage
                for a medication is set and animal's weight is registered, all you need to do is go to a patient's file,
                select "Add Prescription" and select the drug you wish to prescribe. PetR<sub>x</sub> handles the
                calculation for you.</sub></p>
            <p>PetR<sub>x</sub> saves all prescriptions to a patient's file for easy review. And every prescription you
                create will be saved to your own profile for you to review whenever you need.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="subheadings">Consistency</h3>
            <p>As all the calculations are done by PetR<sub>x</sub>, you can be sure that all your staff are following
                your practice's drug dosing protocols.</p>
            <p>With all prescriptions saved to an animal's profile, you can quickly review their medication history for
                any irregularities.</p>
        </div>
        <div class="col-sm-4">
            <img src="#" alt="">
            An image of a feature
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="#" alt="">
            An image of a feature
        </div>
        <div class="col-sm-8">
            <h3 class="subheadings">Safety</h3>
            <p>Prevent human error in medication dosages by setting your practice's dosing protocols as you add a drug
                to the database.</p>
            <p>Record every prescription on an animal's record as it is calculated so that reviewing their prescription
                history is quick and easy, and you can spot any irregularities.</p>
            <p>Include relevant warnings specific to your practice for each drug, which your staff can review in the
                detailed drug view.</p>
            <p></p>
        </div>
    </div>
</section>

{% endblock %}