{% extends 'base.html' %}
{% block content %}

{% load static %}

<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script>
    (function() {
        // https://dashboard.emailjs.com/admin/account
        emailjs.init('F_YvCXRIHdsqedv5S');
    })();
</script>
<script>
    window.onload = function () {
        document.getElementById('contact-form').addEventListener('submit', function (event) {
            event.preventDefault();
            emailjs.sendForm('contact_service', 'contact_form', this)
                .then(function () {
                    document.getElementById('contact-form').submit();
                    console.log('SUCCESS!', response.status, response.text);
                }, function (error) {
                    console.log('FAILED...', error);
                });
        });
    };
</script>

<!-- Contact form -->
<section>
    <h1>Contact Us</h1>
    <p>Have a question about how Pet R<sub>x</sub> can improve your practice?</p>
    <p>Contact us below.</p>

    <form id="contact-form" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="contact_name" class="form-label">Name:</label>
            <input type="text" name="contact_name" class="form-control" id="contact_name" placeholder="Your Name" required>
        </div>
        <div class="mb-3">
            <label for="contact_email" class="form-label">Email address:</label>
            <input type="email" name="contact_email" class="form-control" id="contact_email" placeholder="name@example.com"
            required>
        </div>
        <div class="mb-3">
            <label for="contact_message" class="form-label">Your Message:</label>
            <textarea name="contact_message" class="form-control" id="contact_message" rows="3"></textarea>
        </div>
        <button type="submit" class="pet-btns">Send Message</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

{% endblock %}