{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
{% load static %}



{% if user.is_authenticated %}
    
<!-- if user is registered: -->
<section class="container-md">
    <div class="align-middle">
        
        <!-- Greet logged in user  -->
        <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
        {% if user.is_active %}
        <h4 class="subheadings">Go To:</h4>
        <ul>
            <!-- Quick links to main features -->
            <li class="list-space">
                <a class="pet-links bg-links" href="{% url 'vetprofiles:profile' %}"
                    aria-label="Go to your profile">Your Profile</a>
            </li>
            <li class="list-space">
                <a class="pet-links bg-links" href="{% url 'records:add_animal' %}" aria-label="Go to new animal">Add
                    Animal</a>
            </li>
            <li class="list-space">
                <a class="pet-links bg-links" href="{% url 'records:records' %}"
                    aria-label="Go to animal records">Animal Records</a>
            </li>
        </ul>
        <!--User registered but not active yet-->
        {% elif not user.is_active %}
        <p class="text-center">Your account is pending approval.
        <br>Please contact your administrator for full access to PetR<sub>x</sub>.
        <br><a class="pet-links" href="{% url 'vetprofiles:logout' %}">Logout</a>
        </p>
        {% endif %}
    </div>
</section>
<hr>
<section class="container-md">
    <div class="row">
        <!-- Introduction to app -->
        <h2>New to PetRx?</h2>
        <div class="col-lg-4">
            <h4 class="subheadings"><i class="fa fa-user-doctor"></i> Your Profile</h4>
            <p>Go to <a class="pet-links" href="{% url 'vetprofiles:profile' %}">your profile</a> to view or edit your
                details.</p>
            <p>You can also review all your previous prescriptions here.</p>
        </div>
        <div class="col-lg-4">
            <h4 class="subheadings"><i class="fa fa-plus"></i> Add Animal</h4>
            <p>To register a new animal on the database, fill in their details on the <a class="pet-links"
                    href="{% url 'records:add_animal' %}">Add Animal</a> page.</p>
            <p>Then you will be able to visit their record to prescribe their medications.</p>
        </div>
        <div class="col-lg-4">
            <h4 class="subheadings"><i class="fa-regular fa-file"></i> Animal Records</h4>
            <p>Go to the <a class="pet-links" href="{% url 'records:records' %}">Records</a> page to find an animal's
                record, where you can view or edit their details, add a prescription, and view all their previous
                medications.</p>
            <p>From records, you can also access a list of all the <a class="pet-links"
                    href="{% url 'prescriptions:drugs' %}">available drugs</a> in your practice to review.</p>
        </div>
    </div>
</section>

{% else %}
<!-- If user not registered: -->
<section class="container-md">
    <div class="row align-middle">
        <div id="intro-blurb" class="col-md-8">
            <h1>Welcome to PetR<sub>x</sub></h1>
            <h2>The safe and easy prescription app.</h2>
            <p>Add an extra layer of safety to your prescriptions by using PetR<sub>x</sub>.</p>
            <div>
                <a class="pet-btns" href="{% url 'vetprofiles:login' %}" aria-label="Login">Login</a>
                <a class="pet-btns" href="{% url 'vetprofiles:register' %}" aria-label="Register">Register</a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img width="400" height="281" class="pics" src="{% static 'images/cat-desktop.webp' %}" alt="Black cat at desktop">
        </div>
    </div>
</section>
<hr>
<section class="container-md">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="subheadings"><i class="fa-solid fa-circle-info"></i> About PetR<sub>x</sub></h3>
            <p>PetR<sub>x</sub> was created with safety in mind. Taking human error out of medication calculations,
                PetR<sub>x</sub> makes it easy to ensure consistent dosing across your entire clinic.</p>
            <p>Visit our <a class="pet-links" href="{% url 'vetprofiles:about' %}">about page</a> to learn more.</p>
        </div>
        <div class="col-lg-4">
            <img width="424" height="400" class="pics" src="{% static 'images/pom-tablet.webp' %}" alt="Pom with glasses at tablet">
            <p class="text-center small"><em>Calculate and record your prescriptions in one easy step!</em></p>
        </div>
        <div class="col-lg-4">
            <h3 class="subheadings"><i class="fa-solid fa-circle-question"></i> Have a Question?</h3>
            <p>Interested in using PetR<sub>x</sub> in your practice?</p>
            <p>Visit our <a class="pet-links" href="{% url 'vetprofiles:contact' %}">contact page</a> to get in touch
                and we'll answer any questions you have.</p>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}