<!-- Footer with short description of app, contact details and social links -->
<footer class="footer mt-auto">
    <div class="container-md">
        <div class="row">
            <div class="col-md-4">
                <h4>About</h4>
                <p>Short footer blurb for site.</p>
            </div>
            <div class="col-md-4">
                <h4>Contact</h4>
                <p>Brief contact details for site.</p>
            </div>
            <div class="col-md-4">
                <h4>Social Media</h4>
                <p>Some social media links.</p>
            </div>
        </div>
    </div>
</footer>