<!-- Footer with short description of app, contact details and social links -->
<footer class="footer mt-auto">
    <div class="container-md">
        <div class="row">
            <div class="col-md-4">
                <h4>PetR<sub>x</sub></h4>
                <p>The safe and easy prescription app for your practice.</p>
            </div>
            <div class="col-md-4">
                <h4>Contact</h4>
                <p><b>Phone: </b> 01-1111111</p>
                <p><b>Email: </b> info@petrx.com</p>
                <p><b>Send us a message: </b><a class="record-links" href="{% url 'vetprofiles:contact' %}">Contact Page</a></p>
            </div>
            <div class="col-md-4">
                <h4>Social Media</h4>
                <p>Some social media links.</p>
            </div>
        </div>
    </div>
</footer>