<!-- Footer with short description of app, contact details and social links -->
<footer class="footer mt-auto">
    <div class="container-md">
        <div class="row">
            <div class="col-md-4">
                <h2 class="footer-headings">PetR<sub>x</sub></h2>
                <p>The safe and easy prescription app for your practice.</p>
            </div>
            <div class="col-md-4">
                <h2 class="footer-headings">Contact</h2>
                <p><strong>Phone: </strong> 01-1111111
                    <br>
                    <strong>Email: </strong> info@petrx.com
                    <br>
                    <strong>Send us a message: </strong><a class="pet-links" href="{% url 'vetprofiles:contact' %}"
                        aria-label="Go to contact page">
                        Contact Page</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="footer-headings">Social Media</h2>
                <a class="pet-links footer-socials" href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Find us on Facebook (opens in new tab)"><i class="fa-brands fa-facebook"></i></a>
                <a class="pet-links footer-socials" href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Find us on Twitter (opens in new tab)"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="row text-center">
            <p>For educational purposes only.</p>
        </div>
    </div>
</footer>