{% load static %}
<header>
  <nav id="navbar" class="navbar navbar-expand-lg blue-text">
    <div class="container-sm">
      <a class="navbar-brand" href="{% url 'vetprofiles:index' %}"><img src="{% static 'images/petrxlogo.png' %}"
          alt="PetRx Logo"></a>
      <h1 class="nav-title">PetR<sub>x</sub></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="pet-links" href="{% url 'vetprofiles:profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="pet-links" href="{% url 'records:records' %}">Records</a>
          </li>
          <li class="nav-item">
            <a class="pet-links" href="{% url 'vetprofiles:logout' %}">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'vetprofiles:profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'records:records' %}">Records</a></li>
              <li><a class="dropdown-item" href="{% url 'vetprofiles:logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <div class="dropdown show">
              <a class="dropdown-toggle pet-links" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign In / Sign Up
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <ul class="drop-links">
                  <li><a class="dropdown-item" href="{% url 'vetprofiles:login' %}">Sign In</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'vetprofiles:register' %}">Sign Up</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="pet-links" href="{% url 'vetprofiles:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="pet-links" href="{% url 'vetprofiles:contact' %}">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="nav-item">
                <div class="dropdown show">
                  <a class="dropdown-toggle pet-links" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign In / Sign Up
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <ul class="drop-links">
                      <li><a class="dropdown-item" href="{% url 'vetprofiles:login' %}">Sign In</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="{% url 'vetprofiles:register' %}">Sign Up</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li><a class="dropdown-item" href="{% url 'vetprofiles:about' %}">About</a></li>
              <li><a class="dropdown-item" href="{% url 'vetprofiles:contact' %}">Contact Us</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
